<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>joshuaguan.softlayer</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>2034E563-01F6-4C15-A156-1C4CB339E426</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9476FDB8-6FCC-477F-AC67-83FD9D13B6FF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>360DC953-6C70-47EB-BCE7-6342E721268F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1A1C301D-3E44-479F-A870-BEA0E157FA1E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>AF89310E-FE3F-4D8F-8577-5333853F784A</key>
		<array/>
		<key>DADB6C42-E9C0-4F7A-9BDC-DA75CDA584DB</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A0F20E00-4F13-4C41-A174-8330C613FC40</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>DD1CFCD3-7DDF-4967-BEA0-A8AD0D46EEA6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>360DC953-6C70-47EB-BCE7-6342E721268F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>E6AC8BE4-F4BC-48B3-9C21-AE60B4E0D641</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>DADB6C42-E9C0-4F7A-9BDC-DA75CDA584DB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Joshua Guan</string>
	<key>description</key>
	<string>Operate on your SoftLayer accounts</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>SoftLayer</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>sl_add</string>
				<key>subtext</key>
				<string>Usage: sl_set &lt;account alias&gt; &lt;user name&gt; &lt;api key&gt;</string>
				<key>text</key>
				<string>Setup SoftLayer Account</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>DD1CFCD3-7DDF-4967-BEA0-A8AD0D46EEA6</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>title</key>
				<string>Account Saved!</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>1A1C301D-3E44-479F-A870-BEA0E157FA1E</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>python add_account.py "{query}"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>360DC953-6C70-47EB-BCE7-6342E721268F</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>sl_cmd</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Please wait while the API call is being executed...</string>
				<key>script</key>
				<string>source ~/.bash_profile 
./sl_cmd.py "{query}"</string>
				<key>title</key>
				<string>Run SoftLayer Query</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>AF89310E-FE3F-4D8F-8577-5333853F784A</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>type</key>
			<string>alfred.workflow.output.largetype</string>
			<key>uid</key>
			<string>A0F20E00-4F13-4C41-A174-8330C613FC40</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>source ~/.bash_profile 

./sl_cmd.py "{query}"
</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>DADB6C42-E9C0-4F7A-9BDC-DA75CDA584DB</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>sl_test</string>
				<key>text</key>
				<string>Test SoftLayer</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>E6AC8BE4-F4BC-48B3-9C21-AE60B4E0D641</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>type</key>
			<string>alfred.workflow.output.largetype</string>
			<key>uid</key>
			<string>9476FDB8-6FCC-477F-AC67-83FD9D13B6FF</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>sl_ticket</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Please wait while the API call is being executed...</string>
				<key>script</key>
				<string>source ~/.bash_profile 
./sl_ticket.py "{query}"</string>
				<key>title</key>
				<string>Query SoftLayer Tickets</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>2034E563-01F6-4C15-A156-1C4CB339E426</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>1A1C301D-3E44-479F-A870-BEA0E157FA1E</key>
		<dict>
			<key>ypos</key>
			<real>40</real>
		</dict>
		<key>2034E563-01F6-4C15-A156-1C4CB339E426</key>
		<dict>
			<key>ypos</key>
			<real>400</real>
		</dict>
		<key>360DC953-6C70-47EB-BCE7-6342E721268F</key>
		<dict>
			<key>ypos</key>
			<real>40</real>
		</dict>
		<key>9476FDB8-6FCC-477F-AC67-83FD9D13B6FF</key>
		<dict>
			<key>ypos</key>
			<real>400</real>
		</dict>
		<key>A0F20E00-4F13-4C41-A174-8330C613FC40</key>
		<dict>
			<key>ypos</key>
			<real>280</real>
		</dict>
		<key>AF89310E-FE3F-4D8F-8577-5333853F784A</key>
		<dict>
			<key>ypos</key>
			<real>160</real>
		</dict>
		<key>DADB6C42-E9C0-4F7A-9BDC-DA75CDA584DB</key>
		<dict>
			<key>ypos</key>
			<real>280</real>
		</dict>
		<key>DD1CFCD3-7DDF-4967-BEA0-A8AD0D46EEA6</key>
		<dict>
			<key>ypos</key>
			<real>40</real>
		</dict>
		<key>E6AC8BE4-F4BC-48B3-9C21-AE60B4E0D641</key>
		<dict>
			<key>ypos</key>
			<real>280</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
